<template>
    <div>
         <el-row class="tac">
 <el-container style="height: 650px; border: 1px solid #e1e6ef;">
  <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
    <el-menu style="background-color: rgb(238, 241, 246)" :default-openeds="['1', '6']">
      <el-submenu style="background-color: rgb(238, 241, 246)" index="1">
        <template slot="title"><i class="el-icon-message"></i>Profesores</template>
         <el-menu-item-group style="background-color: rgb(238, 241, 246)">
          <template slot="title">Seccion 1</template>
          <!-- <el-menu-item index="1-1"></el-menu-item> -->
          <el-menu-item index="1-2"><router-link to="/">Notas</router-link></el-menu-item>
          <!-- <el-menu-item index="1-2" ><router-link to="/">Home</router-link></el-menu-item> -->
          <el-menu-item index="1-3" ><router-link to="/estudiantes">Estudiante</router-link></el-menu-item>
          <el-menu-item index="1-4" ><router-link to="/materias">Materias</router-link></el-menu-item>
          <el-menu-item index="1-5" ><router-link to="/carreras">Carreras</router-link></el-menu-item>
          <el-menu-item index="1-6" ><router-link to="/profesores">Profesores</router-link></el-menu-item>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </el-aside>
  
  <el-container>
    <el-header style="text-align: right; font-size: 12px; background: white; color: black">
     <span>{{ name }}</span>
      <el-dropdown >
        <i class="el-icon-setting" style="margin-right: 15px;"></i>
         <el-dropdown-menu slot="dropdown">
          <el-dropdown-item><el-button @click="backLogin">Salir</el-button></el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-header>
    
    <el-main style="background: #34495e">
        <el-row>
          <el-col :span="20">
                <el-card v-if="notas == true">
                  <el-button type="primary" style="float: right;" @click="add = true">Agregar</el-button>
                    <el-table :data="response">
                        <el-table-column prop="id" label="Id" width="150">
                        </el-table-column>
                        <el-table-column prop="nombre" label="Nombre" width="100">
                        </el-table-column>
                        <el-table-column prop="apellido" label="Apellidos" width="100">
                        </el-table-column>
                        <el-table-column>
                          <template slot-scope="scope">
                            <el-button size="small" type="primary" @click="editNote(scope.row)"><i class="el-icon-edit"></i></el-button>
                            <el-button size="small" type="danger" @click="userDelete(scope.row.id)"><i class="el-icon-delete"></i></el-button>
                          </template>
                        </el-table-column>
                    </el-table>
                </el-card>
          </el-col>
        </el-row>
        <!-- formulario para agregar notas -->
        <el-dialog title="Agregar notas" :visible.sync="add">
                    <el-form class="forms">
                      <el-form-item label="nombre">
                        <el-input v-model="formAdd.nombre"></el-input>
                      </el-form-item>
                      <el-form-item label="Apellido">
                         <el-input v-model="formAdd.apellido"></el-input>
                      </el-form-item>
                    </el-form>
                <span slot="footer" class="dialog-footer">
                <el-button @click="add = false">Cancel</el-button>
                <el-button type="primary" @click="addUser">Guardar</el-button>
                </span>
              </el-dialog>
              <!-- Formulario para editar notas -->
                <el-dialog title="Editar notas" :visible.sync="edit">
                   
                       <el-form class="forms">
                      <el-form-item label="nombre">
                        <el-input v-model="formEdit.nombre"></el-input>
                      </el-form-item>
                      <el-form-item label="Apellido">
                         <el-input v-model="formEdit.apellido"></el-input>
                      </el-form-item>
                    </el-form>
                 <span slot="footer" class="dialog-footer"> 
                <el-button @click="edit = false">Cancel</el-button>
                <el-button type="primary" @click="editUser">Editar</el-button>
                </span>
              </el-dialog>
      <el-card v-if="perfil == true" class="box-card">
     <div slot="header" class="clearfix">
    <span>Card name</span>
    <el-button style="float: right; padding: 3px 0" type="text" @click="getUser()">Operation button</el-button>
  </div>
  <div v-for="o in 4" :key="o" class="text item">
    {{'List item ' + o }}
  </div>
</el-card>

    </el-main>
  </el-container>
</el-container>
</el-row>
    </div>
</template>


<script>
import axios from 'axios'
import { setInterval } from 'timers';
export default {
    data() {
      return{
      message: 'Hello Vue!',
     activeIndex: '1',
     activeIndex2: '1',
     notas: true,
     perfil: false,
     name: "master",
     response: '',
     edit: false,
     add: false,
     formEdit: {
       id: '',
       nombre: "",
       apellido: "",
       NotaId: "",
       MateriaId: ""
     },
     formAdd: {
       nombre: "",
       apellido: "",
       NotaId: "",
       MateriaId: ""
     }
       }
  },
   methods: {
      editNote(row){
         console.log("entro")
         this.edit = true
         this.formEdit = row
       },
      getUser(){
        axios.get('https://canario.herokuapp.com/api/profesores')
        // .then(response => response.json())
          .then(resp =>{
            this.response = resp.data.data
          })
          .catch(err => console.log("error", err))
      },
      addUser(){
         axios.post('https://canario.herokuapp.com/api/profesores', this.formAdd)
          .then(resp =>{
            this.add = false
            this.formAdd = ""
          })
          .catch(err => {
            this.$notify.error({
          title: 'Error',
          message: 'Algun ID ingresaso incorrecto',
          offset: 100
            })
          })
      },
      editUser(){
          axios.put('https://canario.herokuapp.com/api/profesores/'+this.formEdit.id, this.formEdit)
          .then(resp =>{
            this.edit = false
          })
          .catch(err => {
            this.$notify.error({
          title: 'Error',
          message: 'Algun ID ingresaso incorrecto',
          offset: 100
            })
          })
      },
      userDelete(rowID){
        axios.delete('https://canario.herokuapp.com/api/profesores/'+rowID,)
          .then(resp =>{
            
          })
          .catch(err => {
            this.$notify.error({
          title: 'Error',
          message: 'Algun ID ingresaso incorrecto',
          offset: 100
            })
          })
      }
    },
    created(){
      this.getUser();
      setInterval(() =>{
        this.getUser();
      },1000)
    }
}
</script>


<style>
  .forms{
    /* margin: 5px 15px; */
      }
</style>